html,
body,
.view {
height: 100%;
}
header {
  height: 80%;
}
.nav-style{
  background-color: black;
  /* font-family:'Overpass Mono', monospace; */
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-link{
font-size: 12px;
font-weight: 600;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0px 50px 0px 30px;
}
/* PARALLAX INTRO */
.parallax{
position: fixed;
width: 100vw;
z-index: -1;
}

/* CAROUSEL SHADOW SETUP */
.parallax-artists:after {
  content: '- Tomás Bessone -';
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  text-align: end;
  padding: 17rem 7rem 0 0rem;  
  position: fixed;
  width: 100%; height:80%;
  top:0; left:0;
  background:rgba(32, 32, 32, 0.781);
  opacity: 1;
}

/* ARTISTS INFO SECTION */
.artists{
  background-color: #ffffff; 
  padding: 3.5rem 0 2rem 0; 
}
.artists-title{
  text-align: start;
  font-family: 'Teko', sans-serif;
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
}
.artists-text{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: rgb(68, 68, 68);
  letter-spacing: 1px;
  text-align: justify;
}

/* @media (max-width: 400px) {
  .bio{
    padding-top: 20rem;
  }
} */
@media (max-width: 990px) {
  .bio-text{
    padding-top: 2rem;
    text-align: center;
  }
}

.artists-form{
  background-color: #ffffff;
}
.contact-title{
  text-align: start;
  font-family: 'Teko', sans-serif;
  color: rgb(0, 0, 0);
  padding-bottom: 2rem;
}
.contact-button{
  text-align: center;
}

/* FOOTER */
.foot{
  background-color: rgb(39, 39, 39);
}
